/* 
HOME 
*/

section#home-sobre{
	padding:80px 0;
	background-image: url("images/sobre.jpg");
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
    background-color: #00adf0;
    background-attachment: fixed;
    color:#FFF;

    h2{
    	color:#FFF;
    	margin-bottom:40px;
    	font-size:30px;

    	img{
    		display:inline-block;
    	}
    }

    p{
    	line-height:1.6;
    }
}

section#desc-sobre{
	padding:80px 0;
	background-image: url("images/sobre.jpg");
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
    background-color: #00adf0;
    color:#FFF;

    h2{
    	color:#FFF;
    	margin-bottom:40px;
    	font-size:30px;

    	img{
    		display:inline-block;
    	}
    }

    p{
    	line-height:1.6;
    }
}

section#home-solucoes{
	background-color:#f6f8fb;
	padding-top:80px;
	padding-bottom:60px;

	h1{
		margin-bottom:25px;
	}

	h3{
		margin-top:25px;
	}

	h3, p{
		display:block;
		margin-bottom:10px;
	}

	h4{
		margin-bottom:60px;
	}

	img{
		float:left;
		margin-right:20px;
	}

	.col-md-6{
		margin-bottom:40px;
	}

	.col-md-8{
		margin-bottom:40px;
	}
}

section#home-depoimento{
	background-color:#f6f8fb;
	padding:60px 0;

	h4,p{
		color:#5f5f5f;
	}

	.dep-conteudo{
		display:inline-block;
		background-color:#FFF;
		color:#5f5f5f;
		padding:35px 20px;
		padding-bottom:55px;
		border-radius: 10px;
		line-height:22px;
		margin-bottom:65px;
		font-size:12px;
		position:relative;

		.veja-mais{
			display:none;
		}
		.veja-mais-btn{
			margin-top:10px;
			text-align:center;
			display:block;
		}

		.dep-foto{
			border-radius: 50%;
			border: 1px solid #5f5f5f;
			background-color:#FFFFFF;
		    width: 80px;
		    height: 80px;
		    color:black;
		    position:absolute;
		    bottom:-40px;
		    left:40%;
		}

		.imga{
			background-image: url("images/Eu Quero Recomecar Depoimento Everton Silva.jpg");
			background-size: cover;
			background-repeat:no-repeat;
		}
		.imgb{
			background-image: url("images/Eu Quero Recomecar Depoimento Poliana Rafaela Barbosa.jpg");
			background-size: cover;
			background-repeat:no-repeat;
		}
		.imgc{
			background-image: url("images/Eu Quero Recomecar Depoimento Ednalva S Moura.jpg");
			background-size: cover;
			background-repeat:no-repeat;
		}
	}
}

section#parceiros{
	padding:60px 0;

	.parceiros-linha{
		list-style-type: none;
		box-sizing: border-box;
		&:after{
			clear:both;
		}

		li{
			float:left;
			width:33.3%;
		}
	}
}

.para-voce{
	background-color:#FFF !important;
	padding-bottom:0 !important;
}

section#blog-single{
	padding-bottom:60px;
}

section#blog{
	padding-bottom:20px;

	.col-md-4{
		margin-bottom:60px;
		text-align:left;
	}
	.entry-summary{
		margin-bottom:40px;
	}
	h3{
		margin:10px 0;
	}
}

@media (max-width: 991px) {  
	section#home-sobre{
	    background-image: none;
	}
	section#parceiros{


		.parceiros-linha{

			li{
				float:none;
				width:100%;
				margin-bottom:10px;
			}
		}
	}
}

@media (min-width: 992px) {  
  
}
