section#footer{
	background-color:#007dc4;
	padding:50px 0;
	color: white;
    background-image: url("images/fundo-bot.jpg");
    background-position: left center;
    background-repeat: no-repeat;

    h2, h4{
        color:#FFF
    }

    h2{
        font-size:20px;
        margin-bottom:20px;
    }
    h4{
        font-size:14px;
        margin-bottom:50px;
    }

	ul.menu-footer{
		list-style-type: none;
		padding: 0;
		margin:0;
        margin-top:70px;
        margin-bottom:40px;

		li{
			float:left;
			width:16.5%;
			text-align: center;

			a{
				color: white;
			}

			a:hover{
				color: #ffc709;
			}
		}
	}
	
	div.copy-text{
		font-size: 12px;
	}

	a{
		color:white;
	}
    ul.redes_sociais_header{
    	padding:0;
        height: 30px;
        text-align: left;
        list-style:none;
        margin-bottom:0;
    }

    ul.redes_sociais_header li{
		margin-right: 5px;
    }

    ul.redes_sociais_header li:hover{
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    ul.redes_sociais_header a{
        display: inline-block;
        width:30px;
        height:28px;
    }

     ul.redes_sociais_header .youtube{
        background-image: url("images/redes-bot.jpg");
        background-position: left,center;
        background-repeat:no-repeat;
        width:30px;
        height:28px;
        display:inline-block;       
    }

    ul.redes_sociais_header .instagram{
        background-image: url("images/redes-bot.jpg");
        background-position: -34px,center;
        background-repeat:no-repeat;
        width:30px;
        height:28px;
        display:inline-block;       
    }

    ul.redes_sociais_header .twitter{
        background-image: url("images/redes-bot.jpg");
        background-position: -70px,center;
        background-repeat:no-repeat;
        width:30px;
        height:28px;
        display:inline-block;       
    }

    ul.redes_sociais_header .facebook{
        background-image: url("images/redes-bot.jpg");
        background-position: -106px,center;
        background-repeat:no-repeat;
        width:30px;
        height:28px;
        display:inline-block;       
    }

    ul.redes_sociais_header .linkedin{
        background-image: url("images/redes-bot.jpg");
        background-position: right,center;
        background-repeat:no-repeat;
        width:28px;
        height:28px;
        display:inline-block;       
    }

}

section#copyright{
    padding:30px 0;
    background-color:#007dc4;
    color:#FFF;
}

@media (max-width: 991px) {  
	section#footer{
		ul.redes_sociais_header{
            display:none;
        }

        .btn-bot{
            display:none;
        }
	}
}

@media (min-width: 992px) {  
  
}


